.main {
  background-color: rgb(241, 241, 241);
  width: 100vw;
  height: 100vh;

  & .content {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .error {
    position: absolute;
    right: 1vh;
    bottom: 1vh;
    width: 40vh;
  }
}
